doctype html
html
  head
    title='Project Management System'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= message
    if(error)
      h2= error.status
      pre #{error.stack}
