extends ../layout

block content
    case type
        when 'leader'
            p My projects
        when 'contribution'
            p Contributing to...
        when 'archived'
            p Archived projects
        default
            p Project Index

    if(projects.length > 0)
        div
            each project, i in projects
                div
                    a(href='/projects/' + project.id) #{project.title}
    else
        h4 There are no projects here